@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
 box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}
.container-fluid{
  padding: 24px 48px;
}
.cursor{
cursor: pointer;
}
.second-nav{
  margin-top: 10px;
}